In [31]:
import os
import yaml
import nbimporter
from datetime import datetime, date
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
from raw_yfinance_ingestion import RawYFIngestion  
from lab_registered_tables import TableManager
import yfinance as yf

In [32]:
with open("config_connections.yaml","r") as file:
    config=yaml.safe_load(file)
    catalog_uri = config['docker_env']['catalog_uri'] 
    warehouse = config['docker_env']['warehouse']     # Minio Address to Write to
    storage_uri = config['docker_env']['storage_uri'] # Minio IP address from docker inspec

# Configure Spark with necessary packages and Iceberg/Nessie settings
conf = (
    pyspark.SparkConf()
        .setAppName('finalytics_app')
        # Include necessary packages
        .set('spark.jars.packages',
             'org.postgresql:postgresql:42.7.3,'
             'org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.5.0,'
             'org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.77.1,'
             'software.amazon.awssdk:bundle:2.24.8,'
             'software.amazon.awssdk:url-connection-client:2.24.8')
        # Enable Iceberg and Nessie extensions
        .set('spark.sql.extensions', 
             'org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,'
             'org.projectnessie.spark.extensions.NessieSparkSessionExtensions')
        # Configure Nessie catalog
        .set('spark.sql.catalog.nessie', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.nessie.uri', catalog_uri)
        .set('spark.sql.catalog.nessie.ref', 'main')
        .set('spark.sql.catalog.nessie.authentication.type', 'NONE')
        .set('spark.sql.catalog.nessie.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')
        # Set Minio as the S3 endpoint for Iceberg storage
        .set('spark.sql.catalog.nessie.s3.endpoint', storage_uri)
        .set('spark.sql.catalog.nessie.warehouse', warehouse)
        .set('spark.sql.catalog.nessie.io-impl', 'org.apache.iceberg.aws.s3.S3FileIO')       
)   

# Start Spark session
spark = SparkSession.builder.config(conf=conf).getOrCreate()  
# Create the "sales" namespace
spark.sql("CREATE NAMESPACE IF NOT EXISTS nessie.raw;").show()

++
||
++
++

In [33]:
def fetch_yfinance_record(multi_param_pairs):
    try:
        symbol, start_date = multi_param_pairs
        # Fetch stock data using yfinance
        quote = yf.Ticker(symbol)
        current_date = date.today()
        hist = quote.history(start=start_date, end=current_date)

        # Reset index to include Date as a column and format it
        hist.reset_index(inplace=True)
        hist['Date'] = hist['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')

        # Add symbol and import_time to each row
        record_list = [
            tuple(row) + (symbol, import_time) for row in hist.itertuples(index=False)
        ]

        return record_list

    except Exception as e:
        print(f"Error fetching data for {symbol}: {e}")
        return []  # Return an empty list on error

In [34]:
# Function to process the records (pass through parameters)
def process_yfinance_record(single_param_pair):
    # print(f"Processing {single_param_pair}")
    return fetch_yfinance_record(single_param_pair)

In [35]:
# Parallel fetch function
def parallel_fetch(multi_param_pairs):
    # Create RDD from the input parameter pairs
    record_rdd = spark.sparkContext.parallelize(multi_param_pairs)

    # Use flatMap to return a flattened list of records
    results_rdd = record_rdd.flatMap(process_yfinance_record)

    # Collect the results from the RDD and convert to a list of tuples
    # results = results_rdd.collect()        
    df = spark.createDataFrame(results_rdd, registered_column_list)   
    
    return df

In [45]:
# List of stock symbols and start dates
yf_param_pairs = [
    ('AAPL', '2024-12-10'),
    ('MSFT', '2024-12-10'),
    ('GOOGL', '2024-12-10'),
]

import_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S.") + str(datetime.now().microsecond)[:3]
zone='raw'
sink_table='nessie.raw.stock_eod_yfinance'
config_file_path='registered_table_schemas.yaml'
table_manager=TableManager(config_file_path)
registered_column_list = table_manager.get_column_list(sink_table)
create_table_query = table_manager.get_create_table_query(table_name)

# Fetch data in parallel
df_raw_eod_yfinance = parallel_fetch(yf_param_pairs)
# df_raw_eod_yfinance.show()

# Print the query
# print(create_table_query)
spark.sql(create_table_query)


df_raw_eod_yfinance.writeTo(sink_table).append()
spark.sql(f"select * from {sink_table}").show()

+-------------------+------+------+------+------+---------+---------+------------+------+--------------------+
|               date|  open|  high|   low| close|   volume|dividends|stock_splits|symbol|         import_time|
+-------------------+------+------+------+------+---------+---------+------------+------+--------------------+
|2024-12-10 00:00:00|246.89|248.21|245.34|247.77| 36914800|      0.0|         0.0|  AAPL|2024-12-24 04:04:...|
|2024-12-11 00:00:00|247.96| 250.8|246.26|246.49| 45205800|      0.0|         0.0|  AAPL|2024-12-24 04:04:...|
|2024-12-12 00:00:00|246.89|248.74|245.68|247.96| 32777500|      0.0|         0.0|  AAPL|2024-12-24 04:04:...|
|2024-12-13 00:00:00|247.82|249.29|246.24|248.13| 33155300|      0.0|         0.0|  AAPL|2024-12-24 04:04:...|
|2024-12-16 00:00:00|247.99|251.38|247.65|251.04| 51694800|      0.0|         0.0|  AAPL|2024-12-24 04:04:...|
|2024-12-17 00:00:00|250.08|253.83|249.78|253.48| 51356400|      0.0|         0.0|  AAPL|2024-12-24 04:04:...|
|2024-12-18 00:00:00|252.16|254.28|247.74|248.05| 56774100|      0.0|         0.0|  AAPL|2024-12-24 04:04:...|
|2024-12-19 00:00:00| 247.5| 252.0|247.09|249.79| 60882300|      0.0|         0.0|  AAPL|2024-12-24 04:04:...|
|2024-12-20 00:00:00|248.04| 255.0|245.69|254.49|147495300|      0.0|         0.0|  AAPL|2024-12-24 04:04:...|
|2024-12-23 00:00:00|254.77|255.65|253.45|255.27| 40828600|      0.0|         0.0|  AAPL|2024-12-24 04:04:...|
|2024-12-10 00:00:00|444.39|449.62| 441.6|443.33| 18469500|      0.0|         0.0|  MSFT|2024-12-24 04:04:...|
|2024-12-11 00:00:00|444.05|450.35|444.05|448.99| 19200200|      0.0|         0.0|  MSFT|2024-12-24 04:04:...|
|2024-12-12 00:00:00|449.11|456.16|449.11|449.56| 20834800|      0.0|         0.0|  MSFT|2024-12-24 04:04:...|
|2024-12-13 00:00:00|448.44|451.43|445.58|447.27| 20177800|      0.0|         0.0|  MSFT|2024-12-24 04:04:...|
|2024-12-16 00:00:00|447.27|452.18|445.28|451.59| 23598800|      0.0|         0.0|  MSFT|2024-12-24 04:04:...|
|2024-12-17 00:00:00|451.01|455.29|449.57|454.46| 22733500|      0.0|         0.0|  MSFT|2024-12-24 04:04:...|
|2024-12-18 00:00:00|451.32|452.65|437.02|437.39| 24444500|      0.0|         0.0|  MSFT|2024-12-24 04:04:...|
|2024-12-19 00:00:00|441.62|443.18|436.32|437.03| 22963700|      0.0|         0.0|  MSFT|2024-12-24 04:04:...|
|2024-12-20 00:00:00|433.11|443.74|428.63| 436.6| 64263700|      0.0|         0.0|  MSFT|2024-12-24 04:04:...|
|2024-12-23 00:00:00|436.74|437.65|432.83|435.25| 19127000|      0.0|         0.0|  MSFT|2024-12-24 04:04:...|
+-------------------+------+------+------+------+---------+---------+------------+------+--------------------+
only showing top 20 rows

In [39]:
# Initialize the TableManager with the YAML file path

config_file_path = "registered_table_schemas.yaml"
table_manager = TableManager(config_file_path)

# Get the CREATE TABLE query
table_name = "nessie.raw.stock_eod_yfinance"
create_table_query = table_manager.get_create_table_query(table_name)

# Print the query
print(create_table_query)

spark.sql(create_table_query)
spark.sql('select * from nessie.raw.stock_eod_yfinance')

df_raw_eod_yfinance.writeTo("nessie.raw.stock_eod_yfinance").append()



# # Convert the data into a DataFrame
# sales_df = spark.createDataFrame(sales_data, schema)

# # Create the "sales" namespace
# spark.sql("CREATE NAMESPACE IF NOT EXISTS nessie.sales;").show()

# # Write the DataFrame to an Iceberg table in the Nessie catalog
# sales_df.writeTo("nessie.sales.sales_data_raw").createOrReplace()

# # Verify by reading from the Iceberg table
# spark.read.table("nessie.sales.sales_data_raw").show()

# # Stop the Spark session
# spark.stop()

CREATE TABLE IF NOT EXISTS nessie.raw.stock_eod_yfinance (date string, open float, high float, low float, close float, volume int, dividends float, stock_splits float, symbol string, import_time string)

In [41]:

spark.sql('select * from nessie.raw.stock_eod_yfinance').show()

+-------------------+------+------+------+------+---------+---------+------------+------+--------------------+
|               date|  open|  high|   low| close|   volume|dividends|stock_splits|symbol|         import_time|
+-------------------+------+------+------+------+---------+---------+------------+------+--------------------+
|2024-12-10 00:00:00|246.89|248.21|245.34|247.77| 36914800|      0.0|         0.0|  AAPL|2024-12-24 03:53:...|
|2024-12-11 00:00:00|247.96| 250.8|246.26|246.49| 45205800|      0.0|         0.0|  AAPL|2024-12-24 03:53:...|
|2024-12-12 00:00:00|246.89|248.74|245.68|247.96| 32777500|      0.0|         0.0|  AAPL|2024-12-24 03:53:...|
|2024-12-13 00:00:00|247.82|249.29|246.24|248.13| 33155300|      0.0|         0.0|  AAPL|2024-12-24 03:53:...|
|2024-12-16 00:00:00|247.99|251.38|247.65|251.04| 51694800|      0.0|         0.0|  AAPL|2024-12-24 03:53:...|
|2024-12-17 00:00:00|250.08|253.83|249.78|253.48| 51356400|      0.0|         0.0|  AAPL|2024-12-24 03:53:...|
|2024-12-18 00:00:00|252.16|254.28|247.74|248.05| 56774100|      0.0|         0.0|  AAPL|2024-12-24 03:53:...|
|2024-12-19 00:00:00| 247.5| 252.0|247.09|249.79| 60882300|      0.0|         0.0|  AAPL|2024-12-24 03:53:...|
|2024-12-20 00:00:00|248.04| 255.0|245.69|254.49|147495300|      0.0|         0.0|  AAPL|2024-12-24 03:53:...|
|2024-12-23 00:00:00|254.77|255.65|253.45|255.27| 40828600|      0.0|         0.0|  AAPL|2024-12-24 03:53:...|
|2024-12-10 00:00:00|444.39|449.62| 441.6|443.33| 18469500|      0.0|         0.0|  MSFT|2024-12-24 03:53:...|
|2024-12-11 00:00:00|444.05|450.35|444.05|448.99| 19200200|      0.0|         0.0|  MSFT|2024-12-24 03:53:...|
|2024-12-12 00:00:00|449.11|456.16|449.11|449.56| 20834800|      0.0|         0.0|  MSFT|2024-12-24 03:53:...|
|2024-12-13 00:00:00|448.44|451.43|445.58|447.27| 20177800|      0.0|         0.0|  MSFT|2024-12-24 03:53:...|
|2024-12-16 00:00:00|447.27|452.18|445.28|451.59| 23598800|      0.0|         0.0|  MSFT|2024-12-24 03:53:...|
|2024-12-17 00:00:00|451.01|455.29|449.57|454.46| 22733500|      0.0|         0.0|  MSFT|2024-12-24 03:53:...|
|2024-12-18 00:00:00|451.32|452.65|437.02|437.39| 24444500|      0.0|         0.0|  MSFT|2024-12-24 03:53:...|
|2024-12-19 00:00:00|441.62|443.18|436.32|437.03| 22963700|      0.0|         0.0|  MSFT|2024-12-24 03:53:...|
|2024-12-20 00:00:00|433.11|443.74|428.63| 436.6| 64263700|      0.0|         0.0|  MSFT|2024-12-24 03:53:...|
|2024-12-23 00:00:00|436.74|437.65|432.83|435.25| 19127000|      0.0|         0.0|  MSFT|2024-12-24 03:53:...|
+-------------------+------+------+------+------+---------+---------+------------+------+--------------------+
only showing top 20 rows