In [8]:
import os
import yaml
import nbimporter
from datetime import datetime, date
import yfinance as yf
import time
import random
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType,  DateType, TimestampType
from pyspark.sql.functions import to_date, to_timestamp
from lab_database_manager import PgDBManager
from lab_spark import create_spark_session
from lab_schema_manager import SchemaManager
from collections import defaultdict

In [11]:

# Get finalytics connetion info
conn_config_file='cfg_connections.yaml'
finalytics=PgDBManager(conn_config_file, 'finalytics')
pg_url=finalytics.jdbc_url
pg_driver=finalytics.driver

# Get symbol_start_date_pairs from finalytics
query="SELECT symbol,group_start_date, group_number from fin.vw_etl_stock_eod_start_date_grouped  WHERE group_number <3;"
query_result=finalytics.get_sql_script_result_list(query)
# print(query_result)
# symbol_list = [row[0] for row in query_result]

# print(symbol_list)

# Initialize a defaultdict to store the symbols for each (group_date, group_number)
grouped_symbols = defaultdict(list)

# Iterate over the data to group symbols by (group_date, group_number)
for symbol, group_date, group_number in query_result:
    # Use a tuple of (group_date, group_number) as the key and append the symbol to the list
    grouped_symbols[(group_date, group_number)].append(symbol)

# Display the results
for group, symbols in grouped_symbols.items():
    group_date, group_number = group
    print(f"Group Date: {group_date}, Group Number: {group_number}, Symbols: {symbols}")

Group Date: 2024-11-15, Group Number: 1, Symbols: ['RRAC', 'CNSL', 'MITA', 'GLT', 'IBTX', 'MNTX', 'VEV', 'NUZE', 'AGR', 'ACST', 'JWSM', 'NYCB', 'PHYT', 'OCUP', 'FANH', 'NAPA', 'TTP', 'CTLT', 'THCP', 'THCPU', 'VSTO', 'MRO', 'ARC', 'GMDA', 'VIEW', 'STER', 'NSTG', 'SRCL', 'EIGR']

In [7]:
from collections import defaultdict

# Given data
data = [
    ('RRAC', '2024-11-15', 1),
    ('CNSL', '2024-11-15', 1),
    ('MITA', '2024-11-15', 2),
    ('GLT', '2024-11-15', 2)
]

# Initialize a defaultdict to store the symbols for each (group_date, group_number)
grouped_symbols = defaultdict(list)

# Iterate over the data to group symbols by (group_date, group_number)
for symbol, group_date, group_number in data:
    # Use a tuple of (group_date, group_number) as the key and append the symbol to the list
    grouped_symbols[(group_date, group_number)].append(symbol)

# Display the results
for group, symbols in grouped_symbols.items():
    group_date, group_number = group
    print(f"Group Date: {group_date}, Group Number: {group_number}, Symbols: {symbols}")

Group Date: 2024-11-15, Group Number: 1, Symbols: ['RRAC', 'CNSL']
Group Date: 2024-11-15, Group Number: 2, Symbols: ['MITA', 'GLT']

In [2]:
from yahooquery import Ticker
import pandas as pd
from datetime import datetime

# List of tickers
values_list = ["FSNB", "MSFT", "GOOGL"]
tickers=values_list
# Initialize Ticker object
data = Ticker(tickers)

# Fetch historical data
hist_data = data.history(start="2025-01-06", end="2025-01-08", interval="1d")

# Reshape the data to include a 'Ticker' column
hist_data.reset_index(inplace=True)  # Reset index to make Ticker and Date columns

# # Select only required columns
columns_to_select = ["date", "symbol", "open", "high", "low", "close", "volume"]
hist_data = hist_data[columns_to_select]

# Add a new field for the current datetime
hist_data["import_time"] = datetime.now()

# Display the result
print(hist_data)
print(type(hist_data))
# distinct_tickers = hist_data["symbol"].unique()

# # Display the result
# print("Distinct Tickers:", distinct_tickers)
# distinct_ticker_count = hist_data["symbol"].nunique()

# print(distinct_ticker_count)




# # Convert pandas DataFrame to Spark DataFrame
# spark_df = spark.createDataFrame(hist_data)

# # Show the Spark DataFrame
# spark_df.show()

         date symbol        open        high         low       close  \
0  2025-01-06   MSFT  428.000000  434.320007  425.480011  427.850006
1  2025-01-07   MSFT  429.000000  430.649994  420.799988  422.369995
2  2025-01-06  GOOGL  193.979996  198.220001  193.850006  196.869995
3  2025-01-07  GOOGL  197.110001  201.000000  194.600006  195.490005

     volume                import_time
0  20573600 2025-01-09 04:19:23.331907
1  18139100 2025-01-09 04:19:23.331907
2  29563600 2025-01-09 04:19:23.331907
3  26487200 2025-01-09 04:19:23.331907
<class 'pandas.core.frame.DataFrame'>

/workspace/finalytics_spark/.venv/lib/python3.10/site-packages/yahooquery/utils/__init__.py:1470: FutureWarning: 'S' is deprecated and will be removed in a future version. Please use 's' instead of 'S'.
  has_live_indice = index_utc[-1] >= last_trade - pd.Timedelta(2, "S")
/workspace/finalytics_spark/.venv/lib/python3.10/site-packages/yahooquery/utils/__init__.py:1470: FutureWarning: 'S' is deprecated and will be removed in a future version. Please use 's' instead of 'S'.
  has_live_indice = index_utc[-1] >= last_trade - pd.Timedelta(2, "S")

In [69]:
import os
import yaml
import nbimporter
from datetime import datetime, date
import yfinance as yf
import time
import random
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType,  DateType, TimestampType
from pyspark.sql.functions import to_date, to_timestamp
from lab_database_manager import PgDBManager
from lab_spark import create_spark_session
from lab_schema_manager import SchemaManager

# Create Spark Session
connection_config_file="cfg_connections.yaml"
spark_app_name="raw_yfinance"
spark=create_spark_session(connection_config_file, spark_app_name)
# spark.sql("CREATE NAMESPACE IF NOT EXISTS nessie.raw;")
# Initialize Spark session
# Set log level to WARN (you can also use "ERROR" to suppress even more)
spark.sparkContext.setLogLevel("WARN")

# Convert pandas DataFrame to Spark DataFrame
spark_df = spark.createDataFrame(hist_data)

# Show the Spark DataFrame
spark_df.show()

+----------+------+------------------+------------------+------------------+------------------+------+--------------------+
|      date|symbol|              open|              high|               low|             close|volume|         import_time|
+----------+------+------------------+------------------+------------------+------------------+------+--------------------+
|2025-01-06|  WINV|  12.0600004196167|  12.0600004196167|  12.0600004196167|  12.0600004196167|     0|2025-01-09 01:23:...|
|2025-01-07|  WINV|  12.0600004196167|  12.0600004196167|  12.0600004196167|  12.0600004196167|     0|2025-01-09 01:23:...|
|2025-01-06|   RGA|218.49000549316406|221.61000061035156| 217.6199951171875| 218.6699981689453|623900|2025-01-09 01:23:...|
|2025-01-07|   RGA|220.02999877929688|223.27999877929688| 218.2100067138672|221.74000549316406|646400|2025-01-09 01:23:...|
|2025-01-06|  POLA| 3.180000066757202|3.6700000762939453| 3.119999885559082|3.2699999809265137| 58800|2025-01-09 01:23:...|
|2025-01-07|  POLA|3.2799999713897705|3.5899999141693115| 3.200000047683716| 3.319999933242798|114400|2025-01-09 01:23:...|
|2025-01-06|  SNEX|102.43000030517578|104.73999786376953| 102.1500015258789| 103.2699966430664|213000|2025-01-09 01:23:...|
|2025-01-07|  SNEX|103.30999755859375|103.30999755859375|  99.6500015258789|100.05999755859375|235200|2025-01-09 01:23:...|
|2025-01-06|  MKFG|               3.5|3.5869998931884766|3.4600000381469727| 3.490000009536743| 63900|2025-01-09 01:23:...|
|2025-01-07|  MKFG|               3.5|3.5450000762939453|3.4100000858306885|3.4100000858306885| 48600|2025-01-09 01:23:...|
|2025-01-06|  VYGR| 6.099999904632568| 6.150000095367432|  5.96999979019165| 6.019999980926514|481800|2025-01-09 01:23:...|
|2025-01-07|  VYGR| 6.010000228881836| 6.269999980926514| 5.889999866485596| 5.920000076293945|248700|2025-01-09 01:23:...|
|2025-01-06|   RMR|  20.3700008392334|20.440000534057617|19.899999618530273| 19.90999984741211|153800|2025-01-09 01:23:...|
|2025-01-07|   RMR|19.899999618530273|20.059999465942383|  19.3799991607666|19.389999389648438|162700|2025-01-09 01:23:...|
|2025-01-06|  LIVE| 9.229999542236328| 9.229999542236328| 8.760000228881836| 9.140000343322754|  3100|2025-01-09 01:23:...|
|2025-01-07|  LIVE|               9.0| 9.390000343322754|              8.75| 9.180000305175781| 11300|2025-01-09 01:23:...|
|2025-01-06|  AMPL|11.760000228881836|11.829999923706055|11.470000267028809|11.510000228881836|405100|2025-01-09 01:23:...|
|2025-01-07|  AMPL|11.510000228881836|11.630000114440918|10.479999542236328|10.600000381469727|398800|2025-01-09 01:23:...|
|2025-01-06|  CYBN|10.279999732971191|10.649999618530273|            10.125|10.649999618530273|206200|2025-01-09 01:23:...|
|2025-01-07|  CYBN|10.699999809265137|10.729999542236328| 9.859999656677246|10.029999732971191|252200|2025-01-09 01:23:...|
+----------+------+------------------+------------------+------------------+------------------+------+--------------------+
only showing top 20 rows

In [68]:
spark_df.printSchema()

root
 |-- date: date (nullable = true)
 |-- symbol: string (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- volume: long (nullable = true)
 |-- import_time: timestamp (nullable = true)

Distinct Tickers: ['INKT' 'INNV' 'INTE' 'INTEU' 'INVZ' 'IOBT' 'IONM' 'IONQ' 'IPSC' 'IREN'
 'IRRX' 'INSI' 'IVT' 'IXAQ' 'IXAQU' 'JANX' 'JCE' 'JFR' 'JGH' 'JLS' 'JMM'
 'JOBY' 'JPC' 'JPI' 'JQC' 'JRI' 'JRS' 'JSPR' 'JWEL' 'JXN' 'JZXN' 'KACLU'
 'KARO' 'KAVL' 'KD' 'KIND' 'KIO' 'FBRX' 'KORE' 'KPLT' 'KPRX' 'KYMR' 'KRT'
 'FHTX' 'SWBI' 'TMQ' 'DOLE' 'RLYB' 'SGML']
49